<!DOCTYPE HTML>
<html lang="en-us">
	<head>
		<title>DenúnciasJP</title>
		<meta charset="UTF-8">
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/estilo.css">
	</head>
	<body>

		<!-- TOPO DA PÁGINA -->
		<section id="home">
			<div class="topo">
				<img src="../img/denunciasjp.png" />
				<form>
					<input type="text" placeholder="Pesquisar denúncia..">
					<button>buscar</button>
				</form>
				<ul>
					<li class="home"><a href="#">Página Inicial</a></li>
					<li class="denuncia"><a href="#registrar-denuncia">Registrar Denúncia</a></li>
					<li class="cadastre-se">Cadastre-se</li>
					<li class="como-funciona">Como Funciona</li>
				</ul>
				<img src="../img/barra-cima.jpg" / class="barra">
			</div>
		</section>
		<!-- FIM DO TOPO DA PÁGINA -->

		<!-- CONTEÚDO -->
		<section id="content">
			<div class="conteudo"></div>
			<script type="text/template" id="denuncias-list">
				<div class="titulo">Denúncias Recentes</div>
				{{#each denuncias}}
						<div class="a">
						<spam class="resumo"><a href="#denuncia/{{id}}">{{resumo}}</a></spam>
						<br />
						<spam class="autor">Autor: {{autor}}</spam>
						</div>
				{{else}}
					Nenhuma denúncia registrada.
				{{/each}}
			</script>
			<script type="text/template" id="registrar-denuncia">
				<div class="titulo-registrar-denuncia">Registrar Denúncia</div>
				<div id="panel">
					<form method="post" class="form-registrar-denuncia" action="denuncias" enctype="multipart/form-data">
						<label>Resumo</label><br>
						<input type="text" class="denuncia-resumo" name="resumo" value="{{#resumo}}{{/resumo}}"/>
						<br>
						<label>Endereço</label><br>
						<input id="searchTextField" type="text" size="50" class="denuncia-endereco" name="endereco">
						<br>
						<label>Descrição</label>
						<br>	
						<textarea class="denuncia-descricao" name="denuncia"></textarea>
						<br>
						<label>Foto</label>
						<input type="file" class="denuncia-foto" name="foto"/>
						<hr />
						<br>
						<button>+ Denunciar</button>
					</form>
				</div>
				<div id="map-canvas"></div>
			</script>
		</section>
		<!-- FIM DO CONTEÚDO -->

		<!-- VISUALIZAR DENÚNCIA -->
		<script type="text/template" id="visualizar-denuncia">
			<div class="titulo">Denúncia</div>
			{{#denuncia}}
				<spam class="autor">{{autor}}</spam>
				<spam class="data">{{data}}</spam> - 
				<spam class="resumo">{{resumo}}</spam>
				<br>
				<spam class="denuncia">{{denuncia}}</spam>
				<spam class="foto"><img src="../img/uploads/{{foto}}"></spam>
			{{/denuncia}}
		</script>
		<!-- FIM VISUALIZAR DENÚNCIA -->

		<!-- MENU -->
		<section id="menu">
			<div class="menu">
				menu
			</div>
		</section>
		<!-- FIM DO MENU -->

		<!-- FOOTER -->
		</section>
		<section id="footer">
			<img src="../img/barra-baixo.jpg" />
		</section>	
		<!-- FIM DO FOOTER -->

		<!-- SCRIPTS -->	
		<script type="text/javascript" src="js/utils.js"></script>
		<script type="text/javascript" src="js/libs/jquery.js"></script>
		<script type="text/javascript" src="js/libs/json2.js"></script>
		<script type="text/javascript" src="js/libs/underscore.js"></script>
		<script type="text/javascript" src="js/libs/backbone.js"></script>
		<script type="text/javascript" src="js/libs/handlebars.js"></script>
		<script type="text/javascript" src="js/libs/jquery.js"></script>
		<script type="text/javascript" src="js/models/denunciamodel.js"></script>
		<script type="text/javascript" src="js/views/homeview.js"></script>
		<script type="text/javascript" src="js/application.js"></script>
		<script type="text/javascript" src="js/libs/moment.js"></script>
		<script type="text/javascript" src="js/autocomplete.js"></script>
	</body>
</html>