<!DOCTYPE HTML>
<html lang="en-us">
	<head>
		<title>DenúnciasJP</title>
		<meta charset="UTF-8">
		<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/estilo.css">
		<link rel="stylesheet" href="css/modal.css" type="text/css" media="screen" />

		<!-- <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.2/leaflet.css" /> -->
		<!--[if lte IE 8]>
		    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.2/leaflet.ie.css" />
		<![endif]-->
	</head>
	<body>

		<!-- TOPO DA PÁGINA -->
		<section id="home">
			<div class="topo">
				<img src="../img/denunciasjp.png" />
				<div class="busca">
					<script type="text/template" id="formulario-busca"></script>
						<form class="form-busca">
							<input type="text" placeholder="Pesquisar denúncia.." name="buscar" class="input-busca">
							<button class="btn-busca">buscar</button>
						</form
						>
					</script>
				</div>
				<ul>
					<li class="home"><a href="#">Página Inicial</a></li>
					<li class="denuncia"><a href="#/registrar-denuncia">Registrar Denúncia</a></li>
					<li class="minhas-denuncias"><a href="#/minhas-denuncias">Minhas Denúncias</a></li>
					<li class="como-funciona"><a href="#/como-funciona">Como Funciona</a></li>
				</ul>
				<img src="../img/barra-cima.jpg" / class="barra">
			</div>
		</section>
		<!-- FIM DO TOPO DA PÁGINA -->

		<!-- CONTEÚDO -->
		<section id="content">
			<div class="conteudo"></div>
			<script type="text/template" id="denuncias-list">
				<div class="titulo">Denúncias Recentes</div>
				{{#each denuncias}}
						<div class="lista-denuncias">
						<spam class="resumo"><a href="#/denuncias/{{id}}">{{resumo}}</a></spam>
						<br />
						<spam class="autor">Por: {{autor}} · há {{data}}</spam>
						</div>
				{{else}}
					Nenhuma denúncia registrada.
				{{/each}}
			</script>
			<script type="text/template" id="registrar-denuncia">
				<div class="titulo-registrar-denuncia">Registrar Denúncia</div>
				{{#erros}}
					<div class="erros">
						{{#if erro0}}
							{{erro0}}
							<br>
						{{/if}}
						{{#if erro1}}
							{{erro1}}
							<br>
						{{/if}}
						{{#if erro2}}
							{{erro2}}
						{{/if}}
					</div>
				{{/erros}}
				<div id="panel">
					<form method="post" class="form-registrar-denuncia" action="denuncias" enctype="multipart/form-data">
						<input type="hidden" name="lat" type="text" value="" class="denuncia-lat">
						<input type="hidden" name="lng" type="text" value="" class="denuncia-lng">
						<label>Resumo</label><br>
						<input type="text" class="denuncia-resumo" name="resumo"/>
						<div class="contador"></div>
						<br>
						<label>Endereço</label><br>
						<input id="searchTextField" type="text" size="50" class="denuncia-endereco" name="endereco">
						<br>
						<label>Descrição</label>
						<br>	
						<textarea class="denuncia-descricao" name="denuncia"></textarea>
						<br>
						<label>Foto</label>
						<input type="file" class="denuncia-foto" name="foto"/>
						<br>
						<spam class="formato">*Formato aceito: jpg</spam>
						<hr />
						<br>
						<button class="btn-registrar-denuncia">+ Denunciar</button>
					</form>
				</div>
			</script>

			<script type="text/template" id="editar-denuncia">
				<div class="titulo-registrar-denuncia">Editar Denúncia</div>
				{{#erros}}
					<div class="erros">
						{{#if erro0}}
							{{erro0}}
							<br>
						{{/if}}
						{{#if erro1}}
							{{erro1}}
							<br>
						{{/if}}
						{{#if erro2}}
							{{erro2}}
						{{/if}}
					</div>
				{{/erros}}

				{{#denuncia}}
				<div id="panel">
					<form method="post" class="form-registrar-denuncia" action="denuncias" enctype="multipart/form-data">
						<input type="hidden" value="{{id}}" class="id-denuncia"/>
						<label>Resumo</label><br>
						<input type="text" class="denuncia-resumo" name="resumo" value="{{resumo}}" id="resumo-denuncia"/>
						<div class="contador"></div>
						<br>
						<label>Endereço</label><br>
						<input id="searchTextField" type="text" size="50" class="denuncia-endereco" name="endereco" value="{{endereco}}" id="endereco-denuncia">
						<br>
						<label>Descrição</label>
						<br>	
						<textarea class="denuncia-descricao" name="denuncia" id="descricao-denuncia">{{denuncia}}</textarea>
						<br>
						<label>Foto</label>
						<input type="file" class="denuncia-foto" name="foto" id="foto-denuncia"/>
						<br>
						<spam class="formato">*Formato aceito: jpg</spam>
						<hr />
						<br>
						<button class="btn-editar-denuncia">Editar</button>
						<button type="button" class="btn-remover-denuncia">Remover</button>
					</form>
				</div>
				{{/denuncia}}
				
			</script>

			<script type="text/template" id="cadastre-se">
				<div class="titulo-cadastre-se">Cadastre-se</div>
				{{#erros}}
					<div class="erros">
						{{#if erro0}}
							{{erro0}}
						<br>
						{{/if}}
						{{#if erro1}}
							{{erro1}}
						<br>
						{{/if}}
						{{#if erro2}}
							{{erro2}}
							<br>
						{{/if}}
						{{#if erro3}}
							{{erro3}}
						{{/if}}
					</div>
				{{/erros}}
				<div id="panel">
				<form method="post" class="form-cadastre-se" action="usuarios" enctype="multipart/form-data">
					
					<label>Nome</label><br>
					<input id="nome" type="text" size="50" class="usuario-nome" name="nome">
					<br>
					<label>Email</label><br>
					<input id="email" type="text" size="50" class="usuario-email" name="email">
					<br>
					<label>Login</label><br>
					<input id="login" type="text" size="50" class="usuario-login" name="login">
					<br>
					<label>Senha</label><br>
					<input id="senha" type="password" size="50" class="usuario-senha" name="senha">
					<br>
					<br>
					<button class="btn-cadastrar-usuario">+ Cadastrar</button>
				</form>
				</div>

			</script>
			
			<script type="text/template" id="como-funciona">
				<div class="titulo-como-funciona">Como Funciona</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lobortis magna non ante ornare tempor. Duis vel ultricies arcu. Ut non dolor lectus. Mauris iaculis condimentum ipsum eu condimentum. Cras egestas odio pellentesque, hendrerit erat sit amet, fermentum arcu. Cras molestie ac diam id luctus. Aliquam vestibulum, sem ut hendrerit iaculis, dolor quam iaculis mi, nec ullamcorper magna sem in nisi. Vivamus nec velit orci. Ut ut consectetur dui, a molestie nisi. Pellentesque pellentesque sem enim, quis consectetur diam malesuada in. Morbi porta, quam non fringilla malesuada, arcu odio venenatis libero, vel bibendum risus leo bibendum nunc. Aliquam at urna eleifend, malesuada enim ac, volutpat odio. Vestibulum facilisis mauris eu elit consequat, et semper erat scelerisque. Sed venenatis purus aliquam tempus molestie. Quisque varius gravida felis ut sodales.</p>

					<p>Phasellus eget ligula metus. Integer ultricies volutpat mi, at iaculis metus sodales quis. Vivamus vestibulum vitae dui nec dapibus. Sed ornare ligula a neque congue, sed cursus lorem vulputate. Sed eu vestibulum orci, eu gravida ante. Aenean sit amet egestas nibh. Sed tristique dui arcu, quis hendrerit nulla euismod id. Phasellus condimentum fermentum ligula quis feugiat. Vivamus gravida arcu vitae purus pellentesque molestie. Quisque dignissim quam vitae mi sollicitudin pellentesque. Donec aliquet semper felis ac laoreet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
			</script>
		</section>
		<!-- FIM DO CONTEÚDO -->

		<!-- VISUALIZAR DENÚNCIA -->
		<script type="text/template" id="visualizar-denuncia">
			<div class="titulo-denuncia">Denúncia</div>
			{{#denuncia}}
				<spam class="detalhe-denuncia">
					<spam class="autor">{{autor}}</spam>
					<spam class="data"><strong>{{data}}</strong></spam> - 
					<spam class="resumo"><strong>{{resumo}}</strong></spam>
					<br>
					<spam class="denuncia">{{denuncia}}</spam>
					<br>
					<spam class="autor">Denúncia feita por: {{autor}}</spam>
					<br>
					{{#if endereco}}
						<spam class="autor">Endereço: {{endereco}}</spam>
					{{/if}}
					<spam class="line-denuncia"><hr /><spam>
					{{#if foto}}
						<a href="../img/uploads/{{foto}}" class="swipebox">
							<img src="../img/uploads/{{foto}}" style="width: 120px; height: 120px;"/>
						</a>
					{{/if}}
					<div id="map_canvas">map div</div>
					<div id="mapContainer"></div>
					
					<spam class="denunciar"><a class="denunciard" data-pancakes="{{id}}">Denunciar</a></spam>
			{{/denuncia}}
		</script>

		<!-- BUSCA -->
		<script type="text/template" id="resultado-busca">
			<div class="titulo-denuncia">Resultado da busca</div>
			<div id="panel">
				{{#if denuncias}}
					{{#denuncias}}
						<div class="lista-denuncias">
						<spam class="resumo"><a href="#/denuncias/{{id}}">{{resumo}}</a></spam>
						<br />
						<spam class="autor">Por: Fulano de tal</spam>
						</div>
					{{/denuncias}}
				{{else}}
					Nenhum resultado encontrado.
				{{/if}}
			</div>
		</script>
		<!-- FIM BUSCA -->

		<!-- MINHAS DENÚNCIAS -->
		<script type="text/template" id="minhas-denuncias">
			<div class="titulo-denuncia">Minhas Denúncias</div>
			<table>
				<thead>
					<tr>
						<th id="ex31a_col_jun">Resumo</th>
						<th id="ex31a_col_jul">Data</th>
						<th id="ex31a_col_jun">Editar</th>
					</tr>
				</thead>
				<tbody>
					{{#each denuncias}}
						<tr>
							<td headers="ex31a_col_jun">{{resumo}}</td>
							<td headers="ex31a_col_jul">{{data}}</td>
							<td headers="ex31a_col_jul" id="{{id}}"><a href="#/editar-denuncia/{{id}}"><img src="../img/editar.png" /></a></td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</script>
		<!-- FIM MINHAS DENÚNCIAS -->

		<!-- MENU
		<section id="menu">
			<div class="menu">
				<script type="text/template" id="logout">
				<div class="menu-login">Área do Usuário</div>
				<div class="erro-login">
					Usuário e/ou senha inválidos.
				</div>
				<form action="login" method="POST" class="form-login">
					<input type="text" class="login-user" placeholder="Login" name="login" id="login"/>
					<input type="password" class="login-senha" placeholder="Senha" name="senha" id="senha"/>
					<button class="btn-login">Entrar</button>
				</form>
				</script>
				<script type="text/template" id="meu-menu">
				<div class="menu-login">Área do Usuário</div>
					<ul class="meu-menu">
						<li class="logout">Logout</li>
						<li>Minhas Denúncias</li>
					</ul>
				</div>
				</script>
			</div>
		</section>

 		-->
		
		<!-- FIM DO MENU -->

		<!-- FOOTER -->
		</section>
		<section id="footer">
			<img src="../img/barra-baixo.jpg" />
		</section>
		<!-- FIM DO FOOTER -->

		<!-- SCRIPTS -->	
		<script type="text/javascript" src="js/gmap3.min.js"></script>
		<script type="text/javascript" src="js/uimap.js"></script>
		<script type="text/javascript" src="js/utils.js"></script>
		<script type="text/javascript" src="js/libs/jquery.js"></script>
		<script type="text/javascript" src="js/libs/json2.js"></script>
		<script type="text/javascript" src="js/libs/underscore.js"></script>
		<script type="text/javascript" src="js/libs/backbone.js"></script>
		<script type="text/javascript" src="js/libs/handlebars.js"></script>
		<script type="text/javascript" src="js/libs/jquery.js"></script>
		<script type="text/javascript" src="js/models/denunciamodel.js"></script>
		<script type="text/javascript" src="js/views/homeview.js"></script>
		<script type="text/javascript" src="js/application.js"></script>
		<script type="text/javascript" src="js/libs/moment.js"></script>
		<script type="text/javascript" src="js/autocomplete.js"></script>
		<script type="text/javascript" src="js/modal.js"></script>
		<script type="text/javascript" src="js/colorbox.js"></script>
		<script type="text/javascript" src="js/libs/cookie.js"></script>
		<script type="text/javascript" src="js/libs/jquery.cookie.js"></script>
		<script src="http://www.pittss.lv/jquery/gomap/js/jquery.gomap-1.3.2.min.js"></script>
		<script src="http://cdn.leafletjs.com/leaflet-0.6.2/leaflet.js"></script>
	</body>
</html>